:root {
    --blue-primary: #001c33;
    --blue-secondary: #004371;
    --blue-highlight: #74eada;
    --blue-light: #f2f5f8;
    --gray: #d1d1d1;
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand img {
    height: 40px; /* Adjust the height as needed */
    width: auto;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-nav .nav-link {
    padding: 15px;
    color: #000; /* Black links */
}

.navbar-nav .nav-link:hover {
    color: #001c33; /* Light gray on hover */
}

.navbar-nav .active {
    color: #001c33;
    font-weight: bold;
}

.avatar img {
    margin-left: auto;
    height: 40px;
    width: auto;
}
