@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
    --blue-primary: #001c33;
    --blue-secondary: #004371;
    --blue-highlight: #74eada;
    --blue-light: #f2f5f8;
    --gray: #d1d1d1;
}

body {
    font-family: "SF Pro Display", sans-serif;
}

.bg-blue{
    background-color: var(--blue-secondary);
}


.btn-main {
    border-radius: 50px !important;
    background-color: var(--blue-primary) !important;
    border: var(--blue-primary) 1px solid !important;
    color: #fff !important;
    min-height: 3rem;
}

.btn-main:hover {
    background-color: #002842 !important;
    border: var(--blue-primary) 1px solid;
    color: #fff;
}

.btn-main:focus,
.btn-main:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-main-sq {
    background-color: var(--blue-secondary) !important;
    border: var(--blue-secondary) 1px solid !important;
    color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 67, 113, 0.4);
}

.btn-main-sq:hover {
    background-color: #002842 !important;
    border: var(--blue-primary) 1px solid;
    color: #fff;
}

.btn-main-sq:focus,
.btn-main-sq:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-gray-sq {
    background-color: transparent !important;
    border: #8592a3 1px solid !important;
    color: var(--blue-primary) !important;
}

.btn-gray-sq:hover {
    background-color: #8592a3 !important;
    border: #8592a3 1px solid;
    color: #fff !important;
}

.btn-gray-sq:focus,
.btn-gray-sq:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-white-outline {
    border-radius: 50px !important;
    background-color: #750080;
    border: #46004d 2px solid;
    color: var(--blue-light);
    min-height: 3rem;
}

.btn-white-outline:hover {
    background-color: #65006e !important;
    border: #46004d 2px solid;
    color: var(--blue-light);
}

.btn-white-outline:focus,
.btn-white-outline:active {
    box-shadow: none;
}

.text-main {
    color: var(--blue-secondary);
}

.input {
    border-radius: 50px;
}

.input-group-text {
    border-radius: 50px 0 0 50px !important;
}
/*
.card-ui {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    overflow: hidden;
}

.btn-ui {
    display: inline-block;
    font-weight: 400;
    line-height: 1.53;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4375rem 1.25rem;
    font-size: 0.9375rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;
} */

.image-preview {
    display: none;
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* ---------------------------------------login----------------------------------------- */

.reglink {
    color: #6247aa;
    text-decoration: none;
    font-weight: 500;
}

.reglink:hover {
    color: #4e319e;
}
.logo-reg-screen {
    width: 200px;
    height: auto;
}

.login-img {
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.rounded-xl{
    border-radius: 10px;
}

/* ---------------------------------------login----------------------------------------- */

/* --------------------------------------- Home ----------------------------------------- */
.hero-slider {
    padding-top: 80px;
}
.sub-title {
    color: var(--blue-secondary);
    font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--blue-highlight);
    padding: 20px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--blue-primary);
    font-size: 15px;
    font-weight: 800;
}

/* hero slider */
.hero-img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.heroSwiper {
    border-radius: 10px !important;
    height: 700px;
}

.swiper-hero-img {
    border-radius: 0;
}

@media (max-width: 480px) {
    .heroSwiper {
        height: 200px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .heroSwiper {
        height: 250px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .heroSwiper {
        height: 400px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .heroSwiper {
        height: 500px;
    }
}

/* slider */
.sliderSwiper {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.sliderSwiper .swiper-slide {
    text-align: left;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderSwiper .swiper-slide .card {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.sliderSwiper .swiper-slide .image-container {
    position: relative;
    overflow: hidden;
}

.sliderSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
}

.sliderSwiper .swiper-slide .card-body small {
    font-weight: 100;
}

.sliderSwiper .swiper-slide .card-body h4 {
    color: var(--blue-primary);
    font-weight: 700;
    line-height: 0.5;
    padding: 0;
    margin: 8px 0;
}

.sliderSwiper .swiper-slide a {
    text-decoration: none;
}

.sliderSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* boxCardSwiper */
.boxCardSwiper {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.boxCardSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxCardSwiper .swiper-slide .image-container {
    position: relative;
}

.boxCardSwiper .swiper-slide .card {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.boxCardSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
}

.boxCardSwiper .swiper-slide .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
        to bottom,
        rgba(195, 20, 50, 0) 50%,
        rgba(36, 11, 54, 1) 95%
    );
}

.boxCardSwiper .swiper-slide .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
    text-align: left;
    z-index: 2;
}

.boxCardSwiper .swiper-slide .text-overlay h2 {
    font-weight: 700;
    line-height: 0.9;
    padding: 0;
    margin: 8px 0;
}

.boxCardSwiper .swiper-slide .text-overlay small {
    font-weight: 100;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 3px 8px;
    border-radius: 5px;
}

.boxCardSwiper .swiper-slide a {
    text-decoration: none;
    line-height: 1;
}

.boxCardSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* categoryCardSwiper */
.categoryCardSwiper {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.categoryCardSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryCardSwiper .swiper-slide .image-container {
    position: relative;
}

.categoryCardSwiper .swiper-slide .card {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.categoryCardSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
}

.categoryCardSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* categoryCardSwiper */
.relatedVideoCardSwiper {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.relatedVideoCardSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.relatedVideoCardSwiper .swiper-slide .image-container {
    position: relative;
}

.relatedVideoCardSwiper .swiper-slide .card {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.relatedVideoCardSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
}

.relatedVideoCardSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* trainerCardSwiper */
.trainerCardSwiper {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.trainerCardSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainerCardSwiper .swiper-slide .image-container {
    position: relative;
}

.trainerCardSwiper .swiper-slide .card {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.trainerCardSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
}

.trainerCardSwiper .swiper-slide .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: left;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trainerCardSwiper .swiper-slide .text-overlay h4 {
    font-weight: 700;
    line-height: 0.9;
    padding: 0;
    margin: 8px 0;
}

.trainerCardSwiper .swiper-slide .text-overlay small {
    font-weight: 100;
}

.trainerCardSwiper .swiper-slide a {
    text-decoration: none;
    line-height: 1;
}

.trainerCardSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* workout card swiper */
.workoutCard .swiper-slide .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    z-index: 1;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .trainerCardSwiper .swiper-slide .text-overlay h4 {
        padding: 0;
        margin: 3px 0;
    }

    .trainerCardSwiper .swiper-slide .text-overlay small {
        font-size: small;
    }

    .boxCardSwiper .swiper-slide .text-overlay h2 {
        font-weight: 700;
        line-height: 0.9;
        padding: 0;
        margin: 4px 0;
    }

    .boxCardSwiper .swiper-slide .text-overlay small {
        font-size: small;
        padding: 3px 8px;
    }
    .sliderSwiper .swiper-slide .card-body small {
        font-size: small;
    }

    .sliderSwiper .swiper-slide .card-body h4 {
        padding: 0;
        margin: 0px 0;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* --------------------------------------- Home ----------------------------------------- */

/* --------------------------------------- Workout ----------------------------------------- */

.workout-img {
    position: relative;
    height: 500px;
}

.workout-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, white, transparent);
    z-index: 1;

}

.workout-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--blue-primary);
    z-index: 2;
}

.workout-name h1 {
    margin: 0;
    font-size: 70px;
}

.videoCard img::before {
    background: transparent !important;
}

/* --------------------------------------- Workout ----------------------------------------- */



/* --------------------------------------- meal ----------------------------------------- */
.meal-card{
    height: 300px !important;
    width: 100% !important;
    object-fit: cover;
}

.view-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.nutrition-table{
    border-radius: 10px !important;
}

/* --------------------------------------- meal ----------------------------------------- */
