@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --blue-primary: #001C33;
    --blue-secondary: #004371;
    --blue-highlight: #74EADA;
    --blue-light: #F2F5F8;
    --gray: #D1D1D1;
}

body{
    font-family: 'SF Pro Display', sans-serif;
}

.btn-main{
    border-radius: 50px;
    background-color: #6247aa;
    border: #4e319e 1px solid;
    color: #fff;
}

.btn-main:hover{
    background-color: #4e319e;
    border: #4e319e 1px solid;
    color: #fff;
}

.input{
    border-radius: 50px;
}


/* ---------------------------------------login----------------------------------------- */

.reglink{
    color: #6247aa;
    text-decoration: none;
    font-weight: 500;
}

.reglink:hover{
    color: #4e319e;
}

/* ---------------------------------------login----------------------------------------- */

/* ---------------------------------------Get Started----------------------------------------- */

.background-div {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.background-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the alpha value to control the darkness */
    z-index: -1; /* Place the overlay behind the content */
}

.background-div::after {
    content: "";
    background-image: url("../img/login-reg/reg-bg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Place the image behind the overlay */
}

.logo{
    width: 100px;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 20px;
}

@media (max-width: 480px) {
    .text-main{
        text-align: center;
    }
}

/* ---------------------------------------Get Started----------------------------------------- */

/* --------------------------------------- Home ----------------------------------------- */
.hero-slider{
  padding-top: 80px;
}
.sub-title{
	color: var(--blue-secondary);
	font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev{
  background-color: var(--blue-highlight);
  padding: 20px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--blue-primary);
  font-size: 15px;
  font-weight: 800;
}

/* hero slider */
.hero-img{
	height: 100%;
    width: auto;
	object-fit: cover;
}

.heroSwiper{
	border-radius: 10px !important;
    height: 700px;
}

.swiper-hero-img{
	border-radius: 0;
}

@media (max-width: 480px) {
    .heroSwiper{
        height: 200px;
    }

    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .heroSwiper{
        height: 250px;
    }

    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .heroSwiper{
        height: 400px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .heroSwiper{
        height: 500px;
    }
}

/* slider */
.sliderSwiper {
	width: 100%;
	height: 100%;
	padding: 10px 0;
  }

 .sliderSwiper .swiper-slide {
	text-align: left;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .sliderSwiper .swiper-slide .card {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
    overflow: hidden;
	transition: transform 0.3s ease;
  }

  .sliderSwiper .swiper-slide .image-container {
    position: relative;
    overflow: hidden;
  }

  /* .sliderSwiper .swiper-slide .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
} */

  .sliderSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
  }

  .sliderSwiper .swiper-slide .card-body small{
	font-weight: 100;
  }

  .sliderSwiper .swiper-slide .card-body  h4{
    color: var(--blue-primary);
    font-weight: 700;
    line-height: 0.5;
    padding: 0;
    margin: 8px 0;
  }

  .sliderSwiper .swiper-slide a {
	text-decoration: none;
  }

 .sliderSwiper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
    transition: transform 0.3s ease;
  }


/* boxCardSwiper */
.boxCardSwiper {
	width: 100%;
	height: 100%;
	padding: 10px 0;
  }

 .boxCardSwiper .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .boxCardSwiper .swiper-slide .image-container {
    position: relative;
  }

  .boxCardSwiper .swiper-slide .card {
    position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
    overflow: hidden;
	transition: transform 0.3s ease;
  }

  .boxCardSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
  }

  .boxCardSwiper .swiper-slide .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(195, 20, 50, 0) 50%, rgba(36, 11, 54, 1) 95%);
}


  .boxCardSwiper .swiper-slide .text-overlay {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
    text-align: left;
    z-index: 2;
  }

  .boxCardSwiper .swiper-slide .text-overlay h2{
    font-weight: 700;
    line-height: 0.9;
    padding: 0;
    margin: 8px 0;
  }

  .boxCardSwiper .swiper-slide .text-overlay small{
    font-weight: 100;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 3px 8px;
    border-radius: 50px;
  }

  .boxCardSwiper .swiper-slide a {
	text-decoration: none;
    line-height: 1;
  }

 .boxCardSwiper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
    transition: transform 0.3s ease;
  }

/* categoryCardSwiper */
.categoryCardSwiper {
	width: 100%;
	height: 100%;
	padding: 10px 0;
  }

 .categoryCardSwiper .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .categoryCardSwiper .swiper-slide .image-container {
    position: relative;
  }

  .categoryCardSwiper .swiper-slide .card {
    position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
    overflow: hidden;
	transition: transform 0.3s ease;
  }

  .categoryCardSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
  }

 .categoryCardSwiper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	max-height: 200px;
	object-fit: cover;
	border-radius: 10px;
    transition: transform 0.3s ease;
  }


  /* trainerCardSwiper */
.trainerCardSwiper {
	width: 100%;
	height: 100%;
	padding: 10px 0;
  }

 .trainerCardSwiper .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .trainerCardSwiper .swiper-slide .image-container {
    position: relative;
  }

  .trainerCardSwiper .swiper-slide .card {
    position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
    overflow: hidden;
	transition: transform 0.3s ease;
  }

  .trainerCardSwiper .swiper-slide .card:hover .card-img-top {
    transform: scale(1.05);
  }

.trainerCardSwiper .swiper-slide .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: left;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


  .trainerCardSwiper .swiper-slide .text-overlay h4{
    font-weight: 700;
    line-height: 0.9;
    padding: 0;
    margin: 8px 0;
  }

  .trainerCardSwiper .swiper-slide .text-overlay small{
    font-weight: 100;
  }

  .trainerCardSwiper .swiper-slide a {
	text-decoration: none;
    line-height: 1;
  }

 .trainerCardSwiper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
    transition: transform 0.3s ease;
  }

  /* workout card swiper */
  .workoutCard .swiper-slide .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .trainerCardSwiper .swiper-slide .text-overlay h4{
        padding: 0;
        margin: 3px 0;
      }

      .trainerCardSwiper .swiper-slide .text-overlay small{
        font-size: small;
      }

      .boxCardSwiper .swiper-slide .text-overlay h2{
        font-weight: 700;
        line-height: 0.9;
        padding: 0;
        margin: 4px 0;
      }

      .boxCardSwiper .swiper-slide .text-overlay small{
        font-size: small;
        padding: 3px 8px;
      }
      .sliderSwiper .swiper-slide .card-body small{
        font-size: small;
      }

      .sliderSwiper .swiper-slide .card-body  h4{
        padding: 0;
        margin: 0px 0;
      }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}



/* --------------------------------------- Home ----------------------------------------- */



/* --------------------------------------- Workout ----------------------------------------- */

.workout-img {
    position: relative;
    height: 500px;
}

.workout-img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, white, transparent);
    z-index: 1;
}

.workout-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--blue-primary);
    z-index: 2;
}

.workout-name h1 {
    margin: 0;
    font-size: 70px;
}


.videoCard img::before{
    background: transparent !important;
}

/* --------------------------------------- Workout ----------------------------------------- */

/* --------------------------------------- single video ----------------------------------------- */

.video-js{
    width: 1200px;
}

.video-container{
    border-radius: 20px;
    border: var(--blue-secondary) 5px solid;
    z-index: 2;
    overflow: hidden;
    height: 680px;
}

.video-js source{
    width: 100%;
}


/* --------------------------------------- single video ----------------------------------------- */
