/* -------------------------------------------Wizard-------------------------------------------- */
#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border: 2px solid #b5bfd9 !important;
    min-height: 3rem;
}

input:active {
    border-color: var(--blue-secondary) !important;
    color: var(--blue-secondary) !important;
    box-shadow: none !important;
}

input:focus {
    border-color: var(--blue-secondary) !important;
    color: var(--blue-secondary) !important;
    box-shadow: none !important;
}

input.invalid {
    background-color: #ffdddd;
}

.input-group-text {
    padding: 0 20px;
    background-color: #fff !important;
    border: none;
    color: var(--blue-secondary);
}

.select-label {
    width: 100%;
    min-height: 3rem;
    border: none !important;
    box-shadow: none !important;
}

.select-label:active {
    border: none !important;
    box-shadow: none !important;
}

.select-label:focus {
    border: none !important;
    box-shadow: none !important;
}

.select-label .invalid {
    background-color: #ffdddd;
}

.select-label option {
    text-align: start !important;
}

.select-label option:hover {
    background-color: #cde0ec !important;
}

.selectWizard {
    width: 100%;
    border: 2px solid #b5bfd9;
    min-height: 3rem;
    border-radius: 50px;
}

.selectWizard:hover {
    border: 2px solid var(--blue-secondary) !important;
}

/* Add your existing styles here */

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #4caf50;
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thanks-message {
    display: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */

.container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* -------------------------------------------Wizard-------------------------------------------- */

/* ---------------------------------------checkbox----------------------------------------- */

.checkbox-wrapper *,
.checkbox-wrapper *:after,
.checkbox-wrapper *:before {
    box-sizing: border-box;
    width: 100%;
}

.checkbox-wrapper .checkbox-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox-wrapper .checkbox-input:checked + .checkbox-tile {
    border-color: var(--blue-secondary);
    color: var(--blue-secondary);
    background-color: #cde0ec;
}

.checkbox-wrapper .checkbox-input:hover + .checkbox-tile {
    border-color: var(--blue-secondary);
}

.checkbox-wrapper .checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: var(--blue-secondary);
    border-color: var(--blue-secondary);
}

.checkbox-wrapper .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-wrapper .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: var(--blue-secondary);
}

.checkbox-wrapper .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 3rem;
    border-radius: 50rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-wrapper .checkbox-tile:before {
    display: none !important;
}

.checkbox-wrapper .checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
}

.checkbox-wrapper .checkbox-icon svg {
    width: 3rem;
    height: 3rem;
}

.checkbox-wrapper .checkbox-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
}

/* ---------------------------------------checkbox----------------------------------------- */

/* video */

.login-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.login-card {
    /* From https://css.glass */
    background: rgba(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

/* upload */
.file-upload-container {
    position: relative;
}

.file-input {
    display: none !important;
}

.selected-file-name {
    color: #555;
}

.custom-file-upload {
    padding: 10px;
    width: 100%;
    color: #848c92;
    border: 2px solid #b5bfd9 !important;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem !important;
    border-radius: 50px;
}

.custom-file-upload:active {
    border-color: var(--blue-secondary) !important;
    color: var(--blue-secondary) !important;
    box-shadow: none !important;
}

.custom-file-upload:focus {
    border-color: var(--blue-secondary) !important;
    color: var(--blue-secondary) !important;
    box-shadow: none !important;
}
